<div class="modal fade" id="modal-task-edit" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modal-task-edit-title" data-bind="text:title"></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-9">
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="titleCreateTask" placeholder="titulo" data-bind="value: title, event: {change: taskEditHandle}" autocomplete="off"/>
                            <label for="titleCreateTask">Titulo</label>
                        </div>
                        <div class="mb-3">
                            <label>Descripcion</label>
                            <textarea type="text" class="form-control" rows="4" data-bind="value: description, event: {change: taskEditHandle}"></textarea>
                        </div>

                        <div class="mb-3">
                            <partial name="_Steps" />
                        </div>
                        <div class="mb-3">
                            <partial name="_Files" />
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <button data-bind="{click: tryDeleteTask}"
                            class="btn btn-secondary mb-2 w-100 text-start">
                            <i class="bi bi-x-lg"></i>
                            Borrar tarea
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
